body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: josefin slab, serif;
}

.carousel {
    height: 70%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
} 

.carousel-inner {
height: 100%;
}


.info-rest {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 50px;
}

h1{
    text-align: center;
    font-family: josefin slab, serif;
    font-size: 40px;
    font-weight: bold;
}

.logo-rest {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.bienvenida {
    width: 60%;
}
.img-fluid {
    max-width: 100%;
    height: 5%;
}

p {
    text-align: justify;
    font-size: 20px;
    font-family: josefin slab, serif;
}

.container-pastas{
    background-color: #d5cfbf;
    padding-top: 20px;
}

footer{
    background-color: #d5cfbf;
    color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    background-color: #d5cfbf;
}

.content-contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/fondo.jpg');
    padding-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
padding: 0;
    background-color: black; 
    color: #efebdc;
}
.formulario{
    height:80%;
    background-color: #d5cfbf;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

.form-control{
    background-color: #efebdc;
}

form {
  padding: 20px;
}

.info-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .info-contact .address,
  .info-contact .phones,
  .info-contact .email {
    flex: 1;
    margin-right: 20px;
  }

  .info-contact h4{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .info-contact p {
    font-size: 15px;
    text-align: center;
  }

  .content-menu{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
  }

  .card-text {
    font-size: 15px;
  }

  .content-menu{
    align-self: center;
    justify-content: center;
    color: #d5cfbf;
  }

  .content-submenu h1{
    margin: 40px;
  }

  .row {
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    overflow: hidden;
    background-color: #f2f2f2;
}

.card-img-top {
    width: 100%;
    height: auto;
}
